<form action="../action/cadastro.php" method="post">
    <div>
        <label for="nome">nome</label>
        <input type="text" name="nome" id="nome" required>
    </div>
    <div>
        <label for="email">email</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div>
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" required>
    </div>
    <div>
        <button type="submit">Cadastrar</button>
        <a href="./login.html">Logar</a>
    </div>
</form>